# Entornos virtuales
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.pyc

# Datos (pesados / clínicos - no subir a git)
data/raw/
data/processed/
*.zip

# Sistema operativo / editor
.DS_Store
.vscode/
.idea/